/* Master Styles */
h1 {
  color: #369; 
  font-family: Arial, Helvetica, sans-serif;   
  font-size: 250%;
}
h2, h3 { 
  color: #444;
  font-family: Arial, Helvetica, sans-serif;   
  font-weight: lighter;
}
body { 
  margin: 2em; 
}
body, input[text], button { 
  color: #888; 
  font-family: Cambria, Georgia; 
}
a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa; 
  cursor: auto;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.router-link-active {
  color: #039be5;
}

/* items class */
.items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 24em;
}
.items li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.items li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.items li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}
.items .text {
  position: relative;
  top: -3px;
}
.items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 24em;
}
.items li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.items li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.items li.selected {
  background-color: #CFD8DC;
  color: white;
}

.items li.selected:hover {
  background-color: #BBD8DC;
}
.items .text {
  position: relative;
  top: -3px;
}
.items .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

/* everywhere else */
* { 
  font-family: Arial, Helvetica, sans-serif; 
}


/* tasks styles */
tasks .task-done {
  text-decoration: line-through;
  color: gray;
}

tasks .task-in-process {
  font-style: italic;
  font-weight: bold;
  color: blue !important;
}

body {
  margin: 5px;
  color: #333;
  font-family: monospace;
}

* {
  font-family: monospace;
}

button {
  color: #222;
  font-family: monospace;
  padding: 0px;
  border: 1px solid #2f93f7;
}

input.task{
  width: 50%;
  min-width: 100px;
}
input[type=checkbox] {
  vertical-align: middle;
}
textarea.task-multiple {
  width: 50%;
  min-width: 100px;
  height: 120px;
  vertical-align: text-top;
}
.task-eta {
  color: gray;
  font-weight: bold;
}
.task-no-eta {
  color: red;
}
.task-age-1 {
  color: gray;
}
.task-age-2 {
  color: brown;
}
.task-age-10 {
  color: red;
}

.productivity-good{
  color: green;
}

.productivity-bad{
  color: brown;
}
.task-important{
  font-weight: bold;
}
.task-open-with-tt {
  color: green;
}
.task-tags {
  color: gray;
}
.task-highlighted {
  background-color: #ddd;
}
.task-urgent{
  background-color: yellow;
}
.tag:hover {
  cursor: pointer;
}
.task-progressed{
  background-color: #A2FFA9;
}
.task-call {
  background-color: #81d4fa;
}
.clickable{
  cursor: pointer;
}
@media (max-width: 504px){
  .mobile-only {
    display: initial;
  }
}
@media (min-width: 505px){
  .mobile-only {
    display: none;
  }
}

.task-open-task-list-container {
  display: flex;
  flex-flow: row wrap;
}
.task-record {
  max-width: 500px;
  min-width: 300px;
  flex: 0 0 31%;
  margin: 5px;
  padding: 5px;
  border: 1px solid slategray;
}