<form #newForm="ngForm" (ngSubmit)="newItem(newForm)">
    <button type="button" (click)="handleNewItem(newForm)">
        {{(viewData.showCreateForm ? 'Hide Form' : 'New Item')}}
    </button>

    <div *ngIf="viewData.showCreateForm">
        <div>
            <span class="field" *ngIf="model.id">
                <label for="id" class="label-left">Id</label>
                <span type="text" name="id" id="id" class="lasttime-input-id">{{model.id}}</span>
            </span>
            <span class="field">
                <label for="fName" class="label-left">Name</label>
                <input type="text" name="fName" id="fName" class="field-input lasttime-input-name" ngModel>
            </span>
            <span class="field">
                <label for="fValue" class="label-left">Value</label>
                <input type="text" name="fValue" id="fValue" class="field-input lasttime-input-value" ngModel>
            </span>
            <span class="field">
                <label for="fValidity" class="label-left">Validity</label>
                <input type="number" name="fValidity" id="fValidity" class="field-input lasttime-input-validity" step="1" ngModel>
            </span>
            <span class="field">
                <label for="fTags" class="label-left">Tags</label>
                <input type="text" name="fTags" id="fTags" class="field-input lasttime-input-tags" ngModel>
            </span>
            <span class="field">
                <label for="fNotes" class="label-left">Notes</label>
                <input type="text" name="fNotes" id="fNotes" class="field-input lasttime-input-notes" ngModel>
            </span>
            
            <button type="submit">Save</button>
        </div>
    </div>
</form>

<div>
    {{viewData.lastTime.length}} items.
    <br/>
    <label>Search</label>
    <input (keyup)="filter($event)" placeholder="Filter" />
</div>

<div class="lasttime-list">
    <div *ngFor="let item of viewData.lastTime" class="lasttime-item-container">
        <span class="lasttime-name">{{item.lst_name}}:</span>
        <span contenteditable="true" (blur)="editValue(item,$event)" class="lasttime-value">{{item.lst_value}}</span>
        <br/>
        <span [ngClass]="item.ageClass" class="lasttime-age" [title]="item.lst_date_mod | date: 'yyyy-MM-dd HH:mm'">
            {{item.ageSentence}}
        </span>
        <span (click)="item.showOptions = !item.showOptions">
            {{item.showOptions ? '-' : '+'}}
        </span>
        <br/>
        <span class="lasttime-tags">
            #[{{item.lst_tags}}]
        </span>
        <span class="lasttime-notes">
            {{item.lst_notes}}
        </span>
        <span class="lasttime-badge-archived" *ngIf="item.lst_ctg_status === 3">archived</span>
        <span class="lasttime-badge-new" *ngIf="item.isNew">new</span>
        <span class="lasttime-badge-edited" *ngIf="item.isEdited">edited</span>
        <br/>
        <span *ngIf="item.showOptions">
            <button (click)="archiveRecord(item)">archive</button>
            <button (click)="editNotes(item)">edit notes</button>
        </span>
    </div>
</div>
