<div>
    <strong>Balance</strong>

    <span class="field">
        <label for="fMonth" class="label-left">Year-Month</label>
        <select [(ngModel)]="model.iterable" name="fMonth" id="fMonth" (change)="reloadBalance()">
            <option *ngFor="let opt of viewData.monthList" value="{{opt.iterable}}">{{opt.name}}</option>
        </select>

        <br/>
        <input name="fFilterNonZero" id="fFilterNonZero" type="checkbox" (click)="toggleFilterNonZero()" [(ngModel)]="viewData.filterNonZero" />
        <label for="fFilterNonZero">Filter Non Zero Balance</label>
    </span>

    <table>
        <tr>
            <th>Account</th>
            <th>Initial</th>
            <th>Charges</th>
            <th>Withdrawals</th>
            <th>Final</th>
        </tr>
        <tr *ngFor="let b of viewData.monthBalance" class="balance-row">
            <td>{{b.bal_txt_account}}</td>
            <td class="currency-cell-right">{{b.bal_initial | currency:'MXN':'symbol-narrow':'1.2-2'}}</td>
            <td class="currency-cell-right">{{b.bal_charges | currency:'MXN':'symbol-narrow':'1.2-2'}}</td>
            <td class="currency-cell-right">{{b.bal_withdrawals | currency:'MXN':'symbol-narrow':'1.2-2'}}</td>
            <td class="currency-cell-right" [ngClass]="{'balance-zero': b.bal_final == 0, 'balance-positive': b.bal_final > 0, 'balance-negative': b.bal_final < 0}">
                {{b.bal_final | currency:'MXN':'symbol-narrow':'1.2-2'}}
            </td>
        </tr>
    </table>
</div>