.balance-row:nth-child(even) {
    background-color: lightgrey;
}

.balance-row:hover {
    background-color: lightblue;
}

.movements-listing-row:nth-child(even) {
    background-color: lightgrey;
}
