<strong>Movements</strong>
<br/>

<form #newMovementForm="ngForm" (ngSubmit)="newMovement(newMovementForm)">
    <button type="button" (click)="handleNewMovement(newMovementForm)">
        {{(viewData.showCreateForm ? 'Hide Movement Form' : 'New Movement')}}
    </button>

    <div *ngIf="viewData.showCreateForm">
        <input type="radio" name="fMovementFlowType" id="fMovementFlowTypeCustom"
            [(ngModel)]="_movementFlowType" (click)="movementFlowType('custom')"
            value="custom">
        <label for="fMovementFlowTypeCustom">Custom</label>
        <input type="radio" name="fMovementFlowType" id="fMovementFlowTypeTransfer"
            [(ngModel)]="_movementFlowType" (click)="movementFlowType('transfer')"
            value="transfer">
        <label for="fMovementFlowTypeTransfer">Transfer</label>

        <div>
            <h4 *ngIf="isCustom">Custom</h4>
            <h4 *ngIf="isTransfer">Transfer</h4>

            <span class="field" *ngIf="viewData.presets.length > 1 && !model.id">
                <label for="fPreset" class="label-left">Use a Preset</label>
                <select name="fPreset" id="fPreset" class="field-select" [(ngModel)]="model.selectedPreset" (change)="setModelDetails(model.selectedPreset,newMovementForm,'pre')">
                    <option *ngFor="let opt of viewData.presets" value="{{opt.pre_id}}">{{opt.pre_name}}</option>
                </select>
                <hr>
            </span>
            <span class="field" *ngIf="model.id">
                <label for="id" class="label-left">Id</label>
                <span type="text" name="id" id="id" class="movement-input-id">{{model.id}}</span>
            </span>
            <span class="field">
                <label for="fDescription" class="label-left">Description</label>
                <input type="text" name="fDescription" id="fDescription" class="field-input movement-input-description" ngModel>
            </span>
            <span class="field">
                <label for="fAmount" class="label-left">Amount</label>
                <input type="number" name="fAmount" id="fAmount" class="field-input" step="0.01" ngModel>
            </span>
            <span class="field">
                <label for="fAccount" class="label-left">Account</label>
                <select name="fAccount" id="fAccount" class="field-select" ngModel>
                    <option *ngFor="let opt of viewData.accounts" value="{{opt.acc_id}}">{{opt.acc_name}} / {{opt.bal_final | currency:'USD':'symbol-narrow':'1.2-2'}}</option>
                </select>
            </span>
            <span class="field" *ngIf="isTransfer">
                <label for="fAccountTo" class="label-left">Account To</label>
                <select name="fAccountTo" id="fAccountTo" class="field-select" ngModel>
                    <option *ngFor="let opt of viewData.accounts" value="{{opt.acc_id}}">{{opt.acc_name}} / {{opt.bal_final | currency:'USD':'symbol-narrow':'1.2-2'}}</option>
                </select>
            </span>
            <span class="field" *ngIf="!isTransfer">
                <input type="radio" [value]="1" name="fMovementType" id="fMovementType_1" [(ngModel)]="model.type">
                <label for="fMovementType_1" class="label-radio">Expense</label>
                
                <input type="radio" [value]="2" name="fMovementType" id="fMovementType_2" [(ngModel)]="model.type">
                <label for="fMovementType_2" class="label-radio">Income</label>
            </span>
            <span class="field">
                <label for="fDate" class="label-left">Movement Date</label>
                <input type="date" name="fDate" [(ngModel)]="model.date">
            </span>
            <span class="field" *ngIf="!isTransfer">
                <label for="fPlace" class="label-left">Place</label>
                <select name="fPlace" id="fPlace" class="field-select" [(ngModel)]="model.place">
                    <option *ngFor="let opt of viewData.places" [value]="opt.mpl_id" [selected]="opt.mpl_id === newMovementForm.value.fPlace">{{opt.mpl_name}}</option>
                </select>
                <combo-item [name]="place" [addNewItem]="addNewPlaceForUser"></combo-item>
            </span>
            <span class="field" *ngIf="!isTransfer">
                <label for="fCategory" class="label-left">Category</label>
                <select name="fCategory" id="fCategory" class="field-select" [(ngModel)]="model.category">
                    <option *ngFor="let opt of viewData.categories" [value]="opt.mct_id" [selected]="opt.mct_id === newMovementForm.value.fCategory">{{opt.mct_name}}</option>
                </select>
                <combo-item [name]="category" [addNewItem]="addNewCategoryForUser"></combo-item>
            </span>
            <span class="field" *ngIf="!isTransfer">
                <label for="fBudget" class="field-input label-left">Budget</label>
                <input type="text" name="fBudget" id="fBudget" class="field-input movement-input-budget" ngModel>
            </span>
            <span class="field">
                <label for="fNotes" class="label-left">Notes</label>
                <input type="text" name="fNotes" id="fNotes" class="field-input movement-input-notes" ngModel>
            </span>
            <span class="field">
                <hr>
                <label for="fAsPreset" class="label-left">As Preset</label>
                <input type="checkbox" name="fAsPreset" id="fAsPreset" [(ngModel)]="model.asPreset">
            </span>
            <span class="field" *ngIf="model.asPreset">
                <label for="fName" class="label-left">Preset Name</label>
                <input type="text" name="fName" id="fName" class="field-input" ngModel>
            </span>
            <button type="submit">{{model.asPreset ? 'Save as Preset' : (model.id !== null ? 'Update Movement' : 'Save Movement')}}</button>
        </div>
    </div>
</form>
<!--
<table>
    <tr>
        <th>Id</th>
        <th>Date</th>
        <th>Account</th>
        <th>Account To</th>
        <th>Type</th>
        <th>Amount</th>
        <th>Budget</th>
        <th>Category</th>
        <th>Place</th>
        <th>Description</th>
        <th>Notes</th>
        <th>Status</th>
    </tr>
    <tr *ngFor="let m of viewData.movements">
        <td>{{m.mov_id}}</td>
        <td>{{m.mov_date | date: 'yyyy-MM-dd'}}</td>
        <td>{{m.mov_txt_account}}</td>
        <td>{{m.mov_txt_account_to}}</td>
        <td>{{m.mov_txt_type}}</td>
        <td>{{m.mov_amount | currency:'USD':'symbol-narrow':'1.2-2'}}</td>
        <td>{{m.mov_budget}}</td>
        <td>{{m.mov_txt_category}}</td>
        <td>{{m.mov_txt_place}}</td>
        <td>{{m.mov_desc}}</td>
        <td>{{m.mov_notes}}</td>
        <td>{{m.mov_txt_status}}</td>
    </tr>
</table>
-->
<div class="movement-list">
    <div *ngFor="let m of viewData.movements" class="movement-box" (click)="setModelDetails(m.mov_id,newMovementForm,'mov')">
        <span *ngIf="false">{{m.mov_id}}<br/></span>
        <span [ngClass]="{'movement-amount-income': m.mov_ctg_type === 2, 'movement-amount-expense': m.mov_ctg_type === 1, 'movement-amount-transfer': m.mov_ctg_type === 3}">
            <span *ngIf="m.mov_txt_type === 'EXPENSE'">-</span>
            <span *ngIf="m.mov_txt_type === 'INCOME'">+</span>
            <span>{{m.mov_amount | currency:'USD':'symbol-narrow':'1.2-2'}}</span>
        </span>
        <span class="movement-account">[{{m.mov_txt_account}}]</span>
        <span class="movement-account" *ngIf="m.mov_txt_account_to"> -> [{{m.mov_txt_account_to}}]</span><br/>
        <span class="movement-date">[{{m.mov_date | date: 'yyyy-MM-dd'}}]</span>
        <span class="movement-description">{{m.mov_desc}}</span>
        <br/>
        <span class="movement-category" *ngIf="m.mov_txt_category">{{m.mov_txt_category}}</span>
        <span class="movement-place" *ngIf="m.mov_txt_place"> | {{m.mov_txt_place}}</span>
        <span class="movement-budget" *ngIf="m.mov_budget"> | #[{{m.mov_budget}}]</span>
        <br *ngIf="m.mov_ctg_type === 1 || m.mov_ctg_type === 2" />
        <span class="movement-notes">{{m.mov_notes}}</span>
        <span class="movement-status" *ngIf="false">{{m.mov_txt_status}}</span>
        <span class="movement-badge-new" *ngIf="m.isNew">new</span>
        <span class="movement-badge-edited" *ngIf="m.isEdited">edited</span>
    </div>
</div>